// Place all the styles related to the chats_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-size: 16px;
  font-family: sans-serif;
}
ul {
  list-style-type: none;
  padding: 15px 0 62px 15px;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

li{
  padding-top: 10px;
  display: block;
}

[v-cloak] {
  display: none;
}

.input_wrapper{
  bottom: 0;
  display: block;
  position: absolute;
  width: 100%;
  position: fixed;
  height: 52px;
}

#root, #chatbox{
  height: 100%;
}

.emoji_menu{
  width: 30px;
  height: 30px;
  top: 11px;
  left: 11px;
  position: absolute;
  cursor: pointer;
}

.emoji_box{
  border: 1px solid #dedede;
  overflow: scroll;
  border-radius: 4px;
  position: absolute;
  bottom: 100%;
  background-color: white;
  height: 300px;
  width: 200px;
}

input{
  padding: 15px 15px 15px 52px;
  width: 100%;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.34);
}

/* emojione dropdown styles */

.dropdown-menu {
  list-style: none;
  padding: .3em 0 0;
  margin: 0;
  border: 1px solid #6E6E6E;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  font-size: inherit;
  letter-spacing: .025em;
  box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
.dropdown-menu a:hover {
  cursor: pointer;
}
.dropdown-menu li {
  letter-spacing: 0;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  border:none;
}
.dropdown-menu li:before {
  display: none;
}
.dropdown-menu .textcomplete-footer {
  margin-top: .3em;
  background: #e6e6e6;
}
.dropdown-menu .textcomplete-footer a {
  color: #999999;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .05em;
  line-height: 2.1818em;
  padding-left: 1.8181em;
  font-size: .84em;
}
.dropdown-menu .textcomplete-footer .arrow {
  margin-left: .8em;
  font-size: 1.3em;
}
.dropdown-menu li .emojione {
  vertical-align: middle;
  font-size: 1.23em;
  width: 1em;
  height: 1em;
  top: -1px;
  margin: 0 .3em 0 0;
}
.dropdown-menu li a {
  display: block;
  height: 100%;
  line-height: 1.8em;
  padding: 0 1.54em 0 .615em;
  color: #4f4f4f;
}
.dropdown-menu .active,
.dropdown-menu li:hover {
  background: #6E6E6E;
  color: white;
}
.dropdown-menu .active a,
.dropdown-menu li:hover a {
  color: inherit;
}