<html>
<head>
  <script src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
  <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="root">
    <div id="chatbox" class="messages" v-cloak>
        <ul>
          <li v-for="message in messages">{{message.body}}</li>
        </ul>
        <br/>
        <input v-model='post' v-bind:value="'post'"
               size="50"
               placeholder="Write your message"
               v-on:keyup.13="submit()"
               type="text"/>
    </div>
    <div id="username" v-if="visible">
      <input v-model='username' v-bind:value="'username'"
             size="50"
             placeholder="Enter your username here"
             v-on:keyup.13="setUsername()"
             type="text"/>
      
    </div>
  </div>

<script>

$(document).ready(function() {

  var loc = window.location, new_uri;

  var evtSource = new EventSource("/sse");


  window.Event = new Vue();

  var postComponent = new Vue({
    el: "#chatbox",
    data: { 
      post: "",
      messages: []
    },
    methods: {
      submit: function() {
        console.log("Submit: " + this.post)
        // TODO assign channels later
        var payload = {type: "chat_message", body: this.post, name: username, chan: 1};
        $.post("/message", JSON.stringify(payload));
        this.post = "";
      },
      receivedMessage: function(data){
        console.log("receivedMessage: " + data);
        this.messages.push(data);
      }
    },
    created: function() {
      Event.$on("message", this.receivedMessage);
    }

  });

  var username  = ''
  var usernameComponent = new Vue({
    el: "#username",
    data: { 
      username: "",
      visible: true,
    },
    methods: {
      setUsername: function() {
        username = this.username;
        var payload = {type: "join", name: this.username, chan: 1};
        $.post("/message", JSON.stringify(payload));
        this.visible = false;
      }
    }
  });

  evtSource.onmessage = function(event) {
    var data = JSON.parse(event.data)
    console.log("evtSource incoming: " + event.data)
    Event.$emit("message", event.data);
  };

  /* w.onopen = function(event){
    Event.$emit("opened", event.data);
  };
  w.onclose = function(event){
    Event.$emit("closed", event.data);
  };
  w.onerror = function(event){
    Event.$emit("error", event.data);
  };
  */


});

Vue.component('message', {
  template: `
    <li><slot></slot></li>
  `
});

</script> 
</body>
</html>
