<html>
<head>
  <script src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
  <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

</head>
<body>
  <div id="root">
    <div id="chatbox" class="messages">
        <ul>
          <li v-for="message in messages">{{message}}</li>
        </ul>
        <br/>
        <input v-model='post' v-bind:value="'post'"
               size="50"
               placeholder="Write your message"
               v-on:keyup.13="submit()"
               type="text"/>
    </div>
  </div>

<script>

$(document).ready(function() {

  var loc = window.location, new_uri;
  if (loc.protocol === "https:") {
      ws_uri = "wss:";
  } else {
      ws_uri = "ws:";
  }
  ws_uri += "//" + loc.host;
  ws_uri += loc.pathname + "ws";
  w = new WebSocket(ws_uri);

  /*
  new Vue({
    el: '#root',

  });
  */


  var postComponent = new Vue({
    el: "#chatbox",
    data: { post: "", messages: [] },
    methods: {
      submit: function() {
        console.log("Submit: " + this.post)
        w.send(this.post)
      }
    },
    mounted: function() {
    }

  })

  w.onmessage = function(e) {
     console.log("ws incoming: " + JSON.stringify(e))
     postComponent.messages.push(e)
  };


});

Vue.component('message', {
  template: `
    <li><slot></slot></li>
  `
});

</script> 
</body>
</html>
