<html>
<head>
  <script src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
  <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="reset.css">

  <script src="https://cdn.jsdelivr.net/emojione/2.2.7/lib/js/emojione.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.7/assets/css/emojione.min.css"/>

  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="root">
    <div id="chatbox" class="messages" v-cloak>
        <ul>
<!--                     <li><span>[join]</span>
            spacewaffle: <span></span></li><li>
            spacewaffle: <span>whatever</span></li><li>
            spacewaffle: <span>awf</span></li><li>
            spacewaffle: <span>awf</span></li><li>
            spacewaffle: <span>awef</span></li><li>
            spacewaffle: <span>awef</span></li><li>
            spacewaffle: <span>esr</span></li><li>
            spacewaffle: <span>gg</span></li><li>
            spacewaffle: <span>sreg</span></li><li>
            spacewaffle: <span>r</span></li><li>
            spacewaffle: <span>ser</span></li><li>
            spacewaffle: <span>g</span></li><li>
            spacewaffle: <span>awe</span></li><li>
            spacewaffle: <span>awef</span></li><li>
            spacewaffle: <span>eg</span></li><li>
            spacewaffle: <span>se</span></li><li>
            spacewaffle: <span>ersg</span></li><li>
            spacewaffle: <span>awe</span></li><li>
            spacewaffle: <span>awef</span></li><li>
            spacewaffle: <span>aew</span></li><li>
            spacewaffle: <span>serg</span></li><li>
            spacewaffle: <span>awef</span></li> -->

          <li v-for="message in messages">
            <span v-if="message.type != 'chat_message'">[{{message.type}}]</span>
            {{message.name}}: <span v-html="message.body"></span>
          </li>
        </ul>
        <input v-model='post' v-bind:value="'post'"
               size="50"
               placeholder="Write your message"
               v-on:keyup.13="submit()"
               type="text"/>
    </div>
    <div id="username" v-if="visible">
      <input v-model='username' v-bind:value="'username'"
             size="50"
             placeholder="Enter your username here"
             v-on:keyup.13="setUsername()"
             v-bind:autofocus="focused"
             type="text"/>
      
    </div>
  </div>

<script>

$(document).ready(function() {

  var loc = window.location, new_uri;

  var evtSource = new EventSource("/sse" + window.location.search);


  window.Event = new Vue();
  var username  = ''
  var chan  = 1 // change later to real channel number

  var postComponent = new Vue({
    el: "#chatbox",
    data: { 
      post: "",
      messages: []
    },
    methods: {
      submit: function() {
        console.log("Submit: " + this.post)
        // TODO assign channels later
        var payload = {type: "chat_message", body: this.post, name: username, chan: chan}
        $.post("/message", JSON.stringify(payload));
        this.post = "";
      },
      receivedMessage: function(data){
        if(data.type == "chat_message"){
          data.body = emojione.toImage(data.body)
        }
        this.messages.push(data);
        $(document).scrollTop($(document).height());
      }
    },
    created: function() {
      Event.$on("message", this.receivedMessage);
    }

  });

  var usernameComponent = new Vue({
    el: "#username",
    data: { 
      username: "",
      visible: true,
      focused: true
    },
    methods: {
      setUsername: function() {
        username = this.username;
        $('#chatbox input').focus();
        var payload = {type: "join", name: this.username, chan: chan};
        $.post("/message", JSON.stringify(payload));
        this.visible = false;
      }
    }
  });

  evtSource.onmessage = function(event) {
    var data = JSON.parse(event.data)
    console.log("evtSource incoming: " + event.data)
    Event.$emit("message", JSON.parse(event.data));
  };

});

Vue.component('message', {
  template: `
    <li><slot></slot></li>
  `
});

</script> 
</body>
</html>
